@model WhiskyGaloreAdmin.Models.Warehouse
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Orders</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Order List
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Customer Type</th>
                                <th>Name</th>
                                <th>Contact Number</th>                               
                                <th>Order Date</th>
                                <th>Total Price</th>
                                <th>Shipper</th>
                                <th>Shipping Cost</th>                             
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.dt.Rows.Count; i++)
                            {
                                <tr class="odd gradeX">
                                    <td>@(Model.dt.Rows[i]["orderId"].ToString())</td>
                                    @if (!string.IsNullOrEmpty(Model.dt.Rows[i]["branch_branchId"].ToString()))
                                    {
                                        <td>Retailer</td>
                                    }
                                    else
                                    {
                                        <td>Individual</td>
                                    }
                                    <td>@(Model.dt.Rows[i]["title"].ToString() + " " + Model.dt.Rows[i]["forename"].ToString() + " " + Model.dt.Rows[i]["surname"].ToString())</td>
                                    <td>@(Model.dt.Rows[i]["firstNumber"].ToString())</td>
                                    <td>@(Model.dt.Rows[i]["orderDate"].ToString().AsDateTime().ToShortDateString())</td>                                   
                                    <td>@(Model.dt.Rows[i]["totalPrice"].ToString())</td>
                                    <td>@(Model.dt.Rows[i]["companyName"].ToString())</td>
                                    <td>@(Model.dt.Rows[i]["shippingCost"].ToString()) £</td>
                                    
                                    <td>@Html.ActionLink("View/Update", "Update", null, new { orderId = Model.dt.Rows[i]["orderId"] }, null)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
