@model WhiskyGaloreAdmin.Models.Shipping
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Orders</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
@using (Html.BeginForm("Update", "Shipping", FormMethod.Post))
{
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    Order Details
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.id, new { @class = "control-label col-lg-4" })
                                @Html.EditorFor(model => model.id, new { @class = "control-label col-lg-4" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    Update Order Status
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.oStatus, new { @class = "control-label col-lg-4" })
                                @Html.EnumDropDownListFor(model => model.oStatus)
                                @Html.ValidationMessageFor(model => model.oStatus, String.Empty, new { @style = "color:red;!important" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.currentDate, new { @class = "control-label col-lg-4" })
                                @Html.EditorFor(model => model.currentDate.ToShortDateString())
                                @Html.ValidationMessageFor(model => model.currentDate, String.Empty, new { @style = "color:red;!important" })
                            </div>
                        </div>
                        <div id="btn" class="col-lg-6">
                            <button type="submit" class="btn btn-default" value="Update" name="command">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


